extend layout
block content
    form(method="POST", target="task")
        label タスク名:
        input(type="text", name="task[name]" value="" class="form-control") 
        br
        label 見出し:
        input(type="text", name="task[head]" value="" class="form-control")
        br
        label 説明:
        textarea(name="task[description]" value="" class="form-control")
        br
        div(class="form-group")
            label(for="comment") 担当者:
            br
            div(class="col-xs-12")
                select(name="task[memberId]" class="form-control")
                    each member, i in members
                            option(value=member.Id)  #{member.Name}
        br
        br
        input(type="submit", value="送信", class="btn btn-primary")