extend layout
block content
    form(method="POST", target="task")
        label タスク名:
        input(type="text", name="task[name]" value="" class="form-control") 
        br
        label 見出し:
        input(type="text", name="task[head]" value="" class="form-control")
        br
        label 説明:
        textarea(name="task[description]" value="" class="form-control")
        br
        input(type="submit", value="送信", class="btn btn-primary")